.fa-redo{
    position: absolute;
    top: 5%;
    right: 8%;
    color: white;
    font-size: 50px;
    text-shadow: 1px 3px 5px #c9c9c9;
}
.fa-redo:hover{
    transform: rotate(180deg);
    color:  #ff00ff;
    text-shadow: 1px 3px 5px #FFFF;
}

#buttonBox{
    position: absolute;
    padding-left: 19Opx;
    left: 30%;
    top: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
    height: 100px;

}

#button1 {
    position: relative;
    background-color: white;
    align-items: center;
    margin: 5px;
    width: 180px;
    height: 60px;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 35px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    
    
}

#button1:hover {
    background-color: #ff00ff;
}

#button2 {
    position: relative;
    background-color: white;
    
    margin: 5px;
    width: 180px;
    height: 60px;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
   padding-top: 35px;
   font-size: 20px;
   font-weight: bold;
   color: black;
   
}

#button2:hover {
    background-color: #ff00ff;
}

#button3 {
    position: relative;
    background-color: white;
    align-items: center;
    margin: 5px;
    width: 180px;
    height: 60px;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
   padding-top: 35px;
   font-size: 20px;
   font-weight: bold;
   
   

}
#button3:hover {
    background-color:#ff00ff;
}
.cardbackground {
    position: relative;
    background-image: url(../assets/backgroundCard2.png);
    float: left;
    align-self: center;
    text-align: center;
    height: 140px;
    width: 120px;
    margin: 6px;
    border-radius: 6px;
    box-shadow:         0px 5px 5px 0px #FFFF; 
    
}


.cardforeground {
    position: relative;
    background-color: #FFFF;
    float: left;
    align-self: center;
    text-align: center;
    height: 140px;
    width: 120px;
    margin: 6px;
    border-radius: 6px;
    box-shadow:         0px 5px 5px 0px #FFFF; 
    z-index: 4; 
    
}
.background{
    position: absolute;
    align-self: center;
    top: -6%;
    left: -5%;
    float: left;
    height: 140px;
    width: 120px;
    margin: 6px;
    border-radius: 6px;
    box-shadow: 0px 5px 5px 0px #FFFF; 
    
    
}


body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}


h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: #FFFF;
    text-align: center;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: #FFFF;
    text-align: center; 
}
footer{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 37%;
    bottom: 1%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white ;
    font: 20px ;
    
}
#memoryBoard1{
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    height: 50px;
    left: 50%;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    z-index: 0;
}
#memoryBoard2{
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    height: 50px;
    left: 50%;
    top: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    z-index: 0;
}
#memoryBoard3{
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1100px;
    height: 50px;
    left: 50%;
    top: 23%;
    display: flex;
    
    justify-content: center;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.picto{
    position: relative;
    top: 13%;
    height: 50px;
    width: 50px;
    text-decoration: none;
    z-index: 0;
}
.pictoEASY{
    position: relative;
    top: 13%;
    height: 100px;
    width: 100px;
    text-decoration: none;
    z-index: 0;
}


.texto{
    position: relative;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    align-self: center;
    
    z-index: 0;
    
}


